.color-yellow,
.color-hover-yellow:hover {
    color: #000!important;
    background-color: #184b21!important
}

.color-lav,
.color-hover-lav:hover {
    color: #000!important;
    background-color: #440e0c!important
}

.text-color-lav,
.text-hover-lav:hover {
    color: #440e0c!important
}

.my-padding-64 {
    padding-top: 48px!important;
    padding-bottom: 80px!important
}